# (!) Fill in the variables with required data or leave the test ones and rename the file to `.env`

# Security
DEBUG=True

# Dishes
DISH_PRICE_ROUNDING=2

# Database
DATABASE_NAME=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

TEST_DATABASE_NAME=postgres_test
TEST_DATABASE_HOST=test_db
TEST_DATABASE_USER=postgres_test
TEST_DATABASE_PASSWORD=postgres_test
TEST_DATABASE_PORT=5431
