# (!) Fill in the variables with required data or leave the test ones and rename the file to `.env`

# Dishes

DISH_PRICE_ROUNDING=2

# Database
POSTGRES_DB=postgres
POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres